<h2>Configuration de la connexion à la Base de Donnée</h2>
    <table>
        <tr>
            <td><label for="Hostname">IP de la Base de Donnée</label></td>
            <td><input id="Hostname"></td>
        </tr>

        <tr>
            <td><label for="Username">Nom d'utilisateur</label></td>
            <td><input id="Username"></td>
        </tr>

        <tr>
            <td><label for="Password">Mot de passe</label></td>
            <td><input id="Password" type="password"></td>
        </tr>

        <tr>
            <td><label for="Dbname">Nom de la Base de Donnée</label></td>
            <td><input id="Dbname"></td>
        </tr>
    </table>

    <button id="saveConfig">Sauvegarder la configuration</button>