@import "global_vars";

* {
  background-color: $bgcolor;
  color: #bbbbbb;
}

button {
  padding: 4px;
  background-color: $button_validate;
}

button:hover {
  background-color: $button_hover;
}

button:active {
    transform: translate(1px, 1px);
}

button, input, .chosen-container {
  border: 1px solid $border_color;
}

*:focus {
  outline: none;
}

.form-layout {
  background-color: $bgcolor;
}

input, .form-layout-list *:not(label) {
  background-color: $dark_bgcolor;
}

.form-layout ul {
  border: 1px solid #ccc;
  width:402px;
  list-style: none outside;
  margin:0;
  padding:0;
}

.form-layout li{
  padding:4px;
  position:relative;
}

.form-layout label {
  width:150px;
  margin-top: 3px;
  display:inline-block;
  float:left;
  padding:3px;
}

.form-layout .chosen-container {
  width: 236px !important;
  padding: 0;
}

.form-layout .chosen-drop {
  width: 238px !important;
  margin-left: -1px;
}

.form-layout .chosen-results {
  width: 232px !important;
}

.form-layout input {
  width:220px;
  padding:5px 8px;
}

.chosen-container ul {
  border: none;
}

.chosen-drop {
  border: 1px solid $border_color;
  border-top: none;
}

